
.main-home{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 0;
    height: 100vh;
}
.main-text{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    padding: 2em;
    padding-top: 0;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
}