
.portfolio-text{
    width: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0.7em;
    padding: 0.1em;
    border: 2px solid black;
    align-items: center;
    border-radius: 5px;
    flex: 1 300px;
    background-color:#FAD586;
}  
.portfolio-columns{
    display: flex;
    flex-direction: column;
}

.portfolio-row{
    display: flex;
    flex-wrap: wrap;
}
.description{
    padding: 0.2em;
    text-align: center;
}
.repo{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #96BB7C;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
}
.repo:hover{
    box-shadow: 2px 2px 3px rgb(44, 43, 43);
    transform: scale(1.05);
    transition: transform .5s;
}
.loading{
    font-size: 40px;
    height: 100vh;
}