.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}


.site-content{
  background-color: #D6EFC7;
  font-family: Helvetica, sans-serif;
}

.site-footer{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #96BB7C;
  font-family: Helvetica, sans-serif;
  padding: 0.1em 2em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: bold;
}